* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.navbar {
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    background-color: royalblue;
}

.navbar>button {
    width: 10%;
    height: 50%;
    background-color: white;
    border: 2px solid black;
}

.card {
    width: 18%;
    height: 30%;
    border: 1px solid rgb(128, 128, 128, 0.622);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 0px 10px 5px;
}

.card>img {
    width: 60%;
    height: 50%;
    border-radius: 50%;
}